@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --fuente:"Inter Tight", sans-serif;
    --colorPrimario: #000000;
    --colorSecundario:#00d6da;
    --colorTerciario: rgb(0, 0, 0);
}

body{
    background-color: var(--colorPrimario);
    color: var(--colorSecundario); 
    font-family: var(--fuente);
    padding: 0;
    margin: 0;
}

.contenido{
    display: flex;
    padding: 4% 15%;
    justify-content: space-between;
    gap:24px;
}
.titulo_encriptador{
    display: flex;
    justify-content: center; /*justify-content y align-items centran el elemento de acuerdo al contenedor*/
    align-items: center;
}
.contenedora1{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.texto_area1{
    width: 150%; /* Ancho del textarea */
    height: 150%; /* Alto del textarea */
    border: none; /* Borde del textarea */
    border-radius: 5px; /* Bordes redondeados */
    background-color: var(--colorPrimario); /* Color de fondo */
    color: var(--colorSecundario); /* Color de la letra */
    font-size: 2rem; /* Tamaño de la letra */
    padding: 3%; /* Espacio interno */
    box-sizing: border-box; /* Incluye el padding y borde en el tamaño total */
    resize: none; /* Permite redimensionar el textarea, con both te deja redimensionar */
    font-family: var(--fuente);
}
.texto_area1:focus {
    outline: none; /* Elimina el contorno al enfocarse */
}

.error{
    color: red;
    margin: 0;

}


.contenedora_botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.boton_principal{
    width:328px ;
    height: 67px;
    font-size: 1rem; /* Cambia el tamaño de la letra */
    background-color: var(--colorSecundario); /* Color de fondo */
    color: var(--colorTerciario); /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 24px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-family: var(--fuente);
    font-size: 1.5rem;

}
.boton_principal:hover{
    background-color: #005478;
}

.boton_secundario{
    width:328px ;
    height: 67px;
    font-size: 1rem; /* Cambia el tamaño de la letra */
    background-color: #000000; /* Color de fondo */
    color: var(--colorSecundario);  /* Color del texto */
    border: 1px solid var(--colorSecundario); 
    border-radius: 24px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-family: var(--fuente);
    font-size: 1.5rem;
}
.boton_secundario:hover{
    background-color: #202020;
}

.contenedora2{
    display: flex;
    flex-direction: column; /*flex-direction y align-items combinados centra los elementos en una columna de acuerdo al contenedor*/
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 650px;
    background-color: var(--colorPrimario);
    border-radius: 32px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5); /* SOMBREADO 1. desplazamiento horizontal, 2. desplaz vertical, 3. radio de desenfoque */
    gap:10px;
    padding: 0 25px;
    border: 3px solid var(--colorSecundario);
}

.mensaje_inicial{
    color: #ffffff;
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; /*alinea el texto centralmente*/
}

.resaltado{
    color: var(--colorSecundario);
    font-size: 1.5rem;
    padding: 5px;
}

.texto_area2{
    background-color: var(--colorPrimario);
    width: 90%;
    height: 80%;
    border: none; 
    resize: none;
    color: white;/* Color de la letra */
    font-size: 1.5rem; /* Tamaño de la letra */
    border-radius: 32px;
    padding: 15px; /* Espacio interno */
    font-family: var(--fuente);
}
.texto_area2:focus {
    outline: none; /* Elimina el contorno al enfocarse */
    /*border-color: #45a049;*/ /* Color del borde al enfocarse */
    /*background-color: #e8f5e9;*/ /* Color de fondo al enfocarse */
}

.boton_terciario{
    width: 100%; /* Cambia el tamaño del botón */
    height: 10%; /* Cambia el tamaño del botón */
    font-size: 1rem; /* Cambia el tamaño de la letra */
    background-color: var(--colorTerciario); /* Color de fondo */
    color: var(--colorSecundario); ; /* Color del texto */
    border: 1px solid var(--colorSecundario); 
    border-radius: 24px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-family: var(--fuente);
    font-size: 1.5rem;
}
.boton_terciario:hover{
    background-color: #202020;
}

.footer{
    background-color: var(--colorSecundario); ;
    padding: 25px; /*añadimos padding al elemento que define la distancia entre un elemento y sus bordes del contenedor*/
    color: var(--colorTerciario);
    text-align: center;
    font-size: 1.5rem; /*tamaño de letra*/
    font-weight: 400;
    font-family: var(--fuente);

}

@media(max-width: 768px){
    .contenido{
        padding: 5% 1%;
        flex-direction: column;
        gap:50px;
    }
    .contenedora2{
        width: auto;
        height: 200px;
        padding: 3%;
    }
    .boton_terciario{
        height: 50%;
    }
    .texto_area1{
        width: auto;
        height: 300px;
    }
}

@media(max-width: 375px){
    .contenedora_botones{
        flex-direction: column;
    }
    .contenido{
        justify-content: center;
        align-items: center;
    }
    .contenedora2{
        width: 80%;
    }
}