@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --fuente:"Inter Tight", sans-serif;
}

body{
    background-color: #D8DFE8;
    color: #0A3871; 
    font-family: var(--fuente);
    padding: 0;
    margin: 0;
}

.contenido{
    display: flex;
    padding: 4% 15%;
    justify-content: space-between;
    gap:24px;
}
.titulo_encriptador{
    display: flex;
    justify-content: center; /*justify-content y align-items centran el elemento de acuerdo al contenedor*/
    align-items: center;
}
.contenedora1{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.texto_area1{
    width: 150%; /* Ancho del textarea */
    height: 150%; /* Alto del textarea */
    border: none; /* Borde del textarea */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #D8DFE8; /* Color de fondo */
    color: #0A3871; /* Color de la letra */
    font-size: 2rem; /* Tamaño de la letra */
    padding: 3%; /* Espacio interno */
    box-sizing: border-box; /* Incluye el padding y borde en el tamaño total */
    resize: none; /* Permite redimensionar el textarea, con both te deja redimensionar */
    font-family: var(--fuente);
}
.texto_area1:focus {
    outline: none; /* Elimina el contorno al enfocarse */
}

.error{
    color: red;
    margin: 0;

}


.contenedora_botones{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.boton_principal{
    width:328px ;
    height: 67px;
    font-size: 1rem; /* Cambia el tamaño de la letra */
    background-color: #0A3871; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 24px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-family: var(--fuente);
}
.boton_principal:hover{
    background-color: #08274d;
}

.boton_secundario{
    width:328px ;
    height: 67px;
    font-size: 1rem; /* Cambia el tamaño de la letra */
    background-color: #D8DFE8; /* Color de fondo */
    color: #0A3871; /* Color del texto */
    border: 1px solid #0A3871;
    border-radius: 24px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-family: var(--fuente);
}
.boton_secundario:hover{
    background-color: #b6bfc9;
}

.contenedora2{
    display: flex;
    flex-direction: column; /*flex-direction y align-items combinados centra los elementos en una columna de acuerdo al contenedor*/
    justify-content: center;
    align-items: center;
    width: 23%;
    height: 650px;
    background-color: white;
    border-radius: 32px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.5); /* SOMBREADO 1. desplazamiento horizontal, 2. desplaz vertical, 3. radio de desenfoque */
    gap:10px;
    padding: 0 25px;
}

.mensaje_inicial{
    color: #495057;
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center; /*alinea el texto centralmente*/
}

.resaltado{
    color: #343A40;
    font-size: 1.5rem;
    padding: 5px;
}

.texto_area2{
    width: 90%;
    height: 80%;
    border: none; 
    resize: none;
    color: #495057; /* Color de la letra */
    font-size: 1.5rem; /* Tamaño de la letra */
    border-radius: 32px;
    padding: 15px; /* Espacio interno */
    font-family: var(--fuente);
}
.texto_area2:focus {
    outline: none; /* Elimina el contorno al enfocarse */
    /*border-color: #45a049;*/ /* Color del borde al enfocarse */
    /*background-color: #e8f5e9;*/ /* Color de fondo al enfocarse */
}

.boton_terciario{
    width: 100%; /* Cambia el tamaño del botón */
    height: 10%; /* Cambia el tamaño del botón */
    font-size: 1rem; /* Cambia el tamaño de la letra */
    background-color: white; /* Color de fondo */
    color: #0A3871; /* Color del texto */
    border: 1px solid #0A3871;
    border-radius: 24px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-family: var(--fuente);
}
.boton_terciario:hover{
    background-color: rgb(209, 209, 209);
}

.footer{
    background-color: #0A3871;
    padding: 25px; /*añadimos padding al elemento que define la distancia entre un elemento y sus bordes del contenedor*/
    color: white;
    text-align: center;
    font-size: 1.5rem; /*tamaño de letra*/
    font-weight: 400;
    font-family: var(--fuente);

}